/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.h1, .h2, .h3,
.h4, .h5, .h6 {
	margin-bottom: 0;
	margin-top: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #222222;
}

h1, .h1 {
	font-size: 36px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 24px;
}

h4, .h4 {
	font-size: 18px;
}

h5, .h5 {
	font-size: 16px;
}

h6, .h6 {
	font-size: 14px;
}



.aufbereitung5050 {
	padding-left: 0px;
}

#Gesamtmenge {
	margin-left:10px;
}

#Resetbutton {
	margin-left:10px;
}

#Produktmenge {
	padding-left:12px;
}

#DestWasser {
	padding-left:12px;
	color: black;
}

.AbklebenUndPoliturerbsen {
	margin-left:50px;
	width:500px;
	height:500px;
}

/* Try to fix this xD */

body {
	margin: 0;
	padding: 0;
	background: #ccc;
}

/* navigation */

	nav {
		background-color: #4F4E4E;
		padding: 18px;
		text-align: center;
	}

	nav ul {
		padding: 0;
	}
	nav ul li a{
		text-decoration: none;
	}
	nav li {
		display: inline-block;
		font-size: 1.5em;
		padding: .25em 1em;
		text-transform: uppercase;
	}

	nav li:not(:last-child) {
		border-right: 1px solid #666;
	}

	nav a {
		border-bottom: 3px solid #666;
		color: #DCDBDC;
		text-decoration: none;
	}

	nav a:hover {
		border-bottom: 3px solid #8EE875;
	}



	.con{
	display: flex;
	justify-content: space-around;
	flex-basis: 20%;
	width: 100%;
	}

	#con1{
		flex-grow: 2;
		padding: 20px;
		text-align: left;
		font-family: Arial;
		margin-left: 10%;
		margin-right: 10%;
	}

	#con2{
		flex-grow: 1;
		margin-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
	}
	/* Einleitung */

	#start{
		background: #292929;
		padding: 10px;

	}

	#start p{
		text-align: center;
		font-weight: bold;
		font-family: 'Noto Sans HK', sans-serif;
		font-size: 40px;
		}


	.tippszu {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}
	.tippszu:hover > .section {
		filter: brightness(22%);
	}
	.tippszu:hover > .section:hover {
		filter: brightness(100%);
	}
	.tippszu .bildle {
		flex-grow: 1;
		position: relative;
		height: 100%;
		transition: all 0.4s;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		text-align: center;
		flex: 1;
	}
	.tippszu .bildle .ueber1 {
		position: relative;
		margin: auto;
		width: 100%;
		height: 300px;
		text-align: center;
		margin-top: 35vh;
	}
	.tippszu .bildle .ueber1 h1 {
		text-transform: uppercase;
		color: white;
		font-family: 'Economica', sans-serif;
		text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
		font-size: 3.5vw;
		margin: 0;
		transition: font-size 0.3s;
		vertical-align: middle;
	}
	.tippszu .bildle .ueber1 h3 {
		text-transform: uppercase;
		font-family: 'Economica', sans-serif;
		font-size: 1.3vw;
		transition: all 0.3s;
		color: white;
	}
	.tippszu .bildle .gebrabbl {
		position: relative;
		display: block;
		text-align: center;
		width: 60%;
		height: auto;
		margin: auto;
		opacity: 0;
		transition: opacity 0.4s;
		padding-top: 20px;
	}
	.tippszu .bildle .gebrabbl p {
		margin: 0;
		font-family: 'Economica', sans-serif;
		color: white;
		font-size: 25px;
	}
	.tippszu .bildle:hover {
		flex-grow: 1.8;
		transition: flex 0.4s;
	}
	.tippszu .bildle:hover > .ueber1 h1 {
		font-size: 5.3vw;
		transition: font-size 0.4s;
	}
	.tippszu .bildle:hover > .ueber1 h3 {
		font-size: 1.6vw;
		transition: all 0.4s;
	}
	.tippszu .bildle:hover > .gebrabbl {
		opacity: 1;
		transition-delay: 1s;
		transition: opacity 0.8s;
	}
	.tippszu .bildle:nth-child(1) {
		background: url("../img/minis.jpg") center;
	}
	.tippszu .bildle:nth-child(2) {
		background: url("../img/poli.jpg") center;
	}
	.tippszu .bildle:nth-child(3) {
		background: url("../img/1.png") center;
	}

	.ueber1 h1 a{
		text-decoration: none;
		color: white;
	}
	#stleft{
		background: #e6D690;
		margin-top: -16px;
		padding: 40px 30px 20px 30px;
		}
	#stleft p{
		font: Arial 20px;
		text-align: center;
	}

	/* kp wie ich das kommentieren soll .....*/

	.primary-btn {
		position: relative;
		display: inline-block;
		color: #263a4e;
		padding: 12px 35px;
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		font-weight: 500;
		outline: none !important;
		text-align: center;
		cursor: pointer;
		text-transform: capitalize;
		background: transparent;
		border: 1px solid #cea06c;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.primary-btn:hover {
		background: #cea06c;
		color: #fff;
	}

	.about-area {
		background: #f7f7f7;
	}
	.section-gap {
		padding: 130px 0;
	}
	@media (max-width: 991px) {
		.section-gap {
		padding: 70px 0;
	}}

	@media (max-width: 991px) {
		.about-area .about-left {
		margin-bottom: 50px;
	}}
	@media (max-width: 991px) {
		.about-area .about-left {
		margin-bottom: 50px;
	}}

	.section-gap {
		padding: 130px 0;
	}

	.text-center {
		text-align: center;
	}
	.text-left {
		text-align: left;
	}
	.text-rigth {
		text-align: right;
	}
		/* footer  */

		.footer-basic {
			padding:40px 0;
			background-color:#ffffff;
			color:#4b4c4d;
		}


		.footer-basic .copyright {
			margin-top:15px;
			text-align:center;
			font-size:13px;
			color:#aaa;
			margin-bottom:0;

		}


		.footer {
			margin-top:40px;
			text-align:center;
			font-size:13px;
			color:#aaa;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 2.5rem;

		}
		/* Blog */


		.el {
			transition: max-height 1.5s;
			overflow: hidden;
			max-height: 0;}

		.highlight {
			max-height: var(--max-height);

		}
		.highlight2 {
			max-height: var(--max-height);

		}

		.trigger{
			margin: 0;
			padding: 40px;
			background-color: #333333;
			text-align: center;
			font-size: 30px;
			color: #d6d6d6;
		}
		.trigger:hover{
			background-color: #707070;
		}
		.trigger p{
			text-align: left;

		}

		.trigger2{
			margin: 0;
			padding: 40px;
			background-color: #333333;
			text-align: center;
			font-size: 30px;
			color: #d6d6d6;
		}
		.trigger2:hover{
			background-color: #707070;
		}
		.trigger2 p{
			text-align: left;

		}


		.iimg {
			display: block;
			height: 550px;
			margin: 30px;
		}

		#ueb{
			font-size: 104px;
			color: black;
			font-family: 'Permanent Marker', cursive;
			transform: rotate(-8deg);
			}

		#clickme{
			font-size: 25px;
			color: white;
			font-family: 'Permanent Marker', cursive;
		}

		#imauto{
			text-align: left;
			color: black;
			margin-top: 264px;
			margin-right: 15px;
		}

		.thumbnail {
			position: relative;
			display: inline-block;
		}

		.caption {
			position: absolute;
			top: 26%;
			left: 104%;
			transform: translate( -50%, -50% );
			text-align: center;
			color: gray;
			font-weight: bold;
		}

		.item1{/* MP-Wash*/
			order: 1;
			flex: 1;
			margin: 20px;
			padding-left:100px;
			}

			.item1 h1{
				text-align: center;
				font-size: 45px;
				margin-right: 40px;
			}

		.item2{/* Text 1*/
			order: 2;
			font-size: 18px;
			flex: 2 ;
			margin: 30px;
			text-align: block;
			}

			.item2 table{
			float: right;
			margin-right: 25%;
			margin-top: 30px;
			background-color: #008844;
			box-shadow: black 10px;
			border-radius: 5px;
			box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
		}
			.item2 table tr th{
				padding: 15px;
			}
		.item3{/*BMW Z1*/
			order: 4;
			flex: 1 ;
			margin: 10px;
			}

		.item4{/* Text 2*/
			order: 3;
			font-size: 18px;
			flex: 2;
			margin: 20px 15px 20px 20px;

			}

		.mycontainer{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			align-items: center;
			flex-direction: row;
		}

		.section-heading
		{
			font-size:36px;
			font-weight:700;
			margin-top:60px
		}

		blockquote
		{
			font-style:italic;
			color:#868e96
		}
		.space{
			margin-top:35px ;
		}

		.space div div div h1{
			text-align: center;
			font-size: 60px;
		}

		.selectcss select{
			position: relative;
			width: 200px;
		}

		.selectcss select::before {
			color: #fff;
			font-size: 20px;
			pointer-events: none;
			position: absolute;
			right: 15px;
			top: 10px;
		}

		.fa select {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			background: url("../img/gruen.png") repeat;
			border: none;
			border-radius: 3px;
			box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
			color: #fff;
			cursor: pointer;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			height: 40px;
			outline: none;
			width: 90%;
			margin-left: 13px;
		}

		.fa select option {
			color: #666;
		}


		.butt button{
			margin: 10px 30px 15px 30px;
			position: relative;
			background: none;
			text-transform: uppercase;
			border: none;
			padding: 0;
			color: rgba(255, 255, 255, 0.7);
			outline: none;
			transition: color .3s;
			cursor: pointer;
		}

		.butt button svg {
			width: 180px;
			height: 60px;
			fill: none;
			stroke: #bdc3c7;
			stroke-dasharray: 0, 0, 480px, 480px;
			stroke-width: 8;
			transition: stroke-dasharray .3s;

		}

		.butt span {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			line-height: 60px;
			letter-spacing: 4px;

		}
		#Gesamtmenge{margin:5px -5px 10px 35px;}
		.butt:hover, .butt:focus {
			color: #ecf0f1;

		}

		.butt:hover svg,
		.butt:focus svg {
		stroke-dasharray: 180px, 300px;
		}


	input[type="text"] {
		box-sizing: border-box;
		width: 80px;
		height: 40px;
		margin: 0px 7px 0px 0px;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 1.5em;
		background: #fff;
		resize: none;
		outline: none;
		float: center;
	}


	/* Bootssnipp [https://bootsnipp.com/snippets/O5yMd]*/

	.demo{padding:45px 0}
	.product-grid2{font-family:'Open Sans',sans-serif;position:relative}
	.product-grid2 .product-image2{overflow:hidden;position:relative}
	.product-grid2 .product-image2 a{display:block}
	.product-grid2 .product-image2 img{width:100%;height:auto}
	.product-image2 .pic-1{opacity:1;transition:all .5s}
	.product-grid2:hover .product-image2 .pic-1{opacity:0}
	.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
	.product-grid2:hover .product-image2 .pic-2{opacity:1}
	.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
	.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
	.product-grid2:hover .social li{transform:translateX(0)}
	.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
	.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
	.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
	.product-grid2 .social li a:hover{color:#fff;background-color:#3498db;box-shadow:0 0 10px rgba(0,0,0,.5)}
	.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
	.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
	.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
	.product-grid2 .add-to-cart{color:#fff;background-color:#404040;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
	.product-grid2 .add-to-cart:hover{background-color:#3498db;text-decoration:none}
	.product-grid2:hover .add-to-cart{bottom:0}
	.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
	.product-grid2:hover .product-new-label{opacity:0}
	.product-grid2 .product-content{padding:20px 10px;text-align:center}
	.product-grid2 .title{font-size:17px;margin:0 0 7px}
	.product-grid2 .title a{color:#303030}
	.product-grid2 .title a:hover{color:#3498db}
	.product-grid2 .price{color:#303030;font-size:15px}
	@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
	}
	.wasdienedgeschafthaben{align-items: stretch;margin-top: 230px;}

	.proncon{

		max-width: 600px;
		height: 320px;
		border-collapse: collapse;
		border: 1px solid #38678f;
		margin: 50px auto;
		background: white;
	}

	.proncon th{
		background: steelblue;
		height: 54px;
		width: 25%;
		font-weight: lighter;
		text-shadow: 0 1px 0 #38678f;
		color: white;
		border: 1px solid #38678f;
		box-shadow: inset 0px 1px 2px #568ebd;
		transition: all 0.2s;
		text-align: center;
	}


	 a
	{
		list-style: none;
	}

	.proncon tr{
		border-bottom: 1px solid #cccccc;

	}
	.proncon tr:last-child{
		border-bottom: 0px;
	}
	.proncon td{
		border-right: 1px solid #cccccc;
			padding: 10px;
			transition: all 0.2s;

	}
	.proncon td li{
			margin-top: 5px;

		}

	.proncon td:last-child {
		border-right: 0px;
	}

	.mycontainerzwo{
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				align-items: center;
				flex-direction: row;
				margin-top: 70px;
				margin-bottom: 50px;
			}

	#xx{
		font-size: 72px;
		color: black;
		font-family: 'Permanent Marker', cursive;
		transform: rotate(-8deg);

	}
	#xy{
			font-size: 56px;
			color: black;
			font-family: 'Permanent Marker', cursive;
			transform: rotate(-5deg);

		}

	.thumbnail2 {
		position: relative;
		display: inline-block;
	}

	#caption2 {
		position: absolute;
		top: 9%;
		left: 55%;
		transform: translate( -50%, -50% );
		text-align: center;
		font-weight: bold;
	}

	#caption3{
		position: absolute;
		top: 9%;
		left: 55%;
		transform: translate( -50%, -50% );
		text-align: center;
		font-weight: bold;
	}
	#lastueber {margin-top: 29px;}
	#lastueber h1,h2{
		font-family: Arial;
		text-align: center;

	}
	#kkk{
		background: steelblue;
	}
